<footer class="page-footer font-small blue pt-4" style="background-color: #F7BD3B; margin-top: 30px;">
    <div class="container text-center text-md-left" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-uppercase"> <strong>Contáctanos</strong> </h5>
                <ul class="list-unstyled">
                    <li>
                        <p>+503 7069 5953</p>
                    </li>
                    <li>
                        <p>ventas@prodimelsv.com</p>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-uppercase"> <strong>Redes Sociales</strong> </h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#"><i class="fab fa-facebook-f text-white mr-4"
                                style="font-size: 1.3rem; font-size: 1.5rem; text-decoration: none;"></i>Facebook</a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram text-white mr-4 "
                                style="font-size: 1.3rem; font-size: 1.5rem; text-decoration: none; "></i>Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-uppercase"><strong>¿Quienes somos?</strong> </h5>
                <p>Delimar es una distribuidora, de mariscos Con más de 40 años de experiencia, trabajamos
                    directamente con pescadores artesanales y pesca de altura.</p>
            </div>
        </div>
    </div>
    <div class="color-footer">
        <div class="container">
            <div class="row py-auto d-flex">
                <div class="footer-copyright text-center text-white py-3"
                    style="margin-left: auto; margin-right: auto;">© 2020 Copyright:
                    <a> DeliMar.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>