<form class="form-signin" method="POST" action="/agregar_producto">
    <div class="mb-4 text-center">
        <h1>Agregar nuevo producto a la tienda Delimar</h1>
        <p>Bienvenido al servicio de administrador de productos Delimar</p>
    </div>
    <div class="form-label-group">
        <label for="productname">Nombre del Producto</label>
        <input type="text" name="productname" id="productname"  required>
    </div>
    <div class="form-label-group">
        <label for="price">Precio</label>
        <input type="number" name="price" id="price" placeholder="PrecioVenta" required>
    </div>
    <div class="form-label-group">
        <label for="cantidadinventario">Cantidad en Inventario</label>
        <input type="number" name="cantidadinventario" id="cantidadinventario" placeholder="10" required>
    </div>
    <div class="mb3">
        <button class="btn btn-sm btn-primary btn-block" type="submit" style="background-color: #00B9C9;">Registrarse</button>
    </div>
</form>
