<header>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/imagenes/delimar.png" class="logo-brand" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" id="inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lista_producto" id="catalogo">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="info">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="contacto">Contactanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<form class="form-signin" method="POST" action="/crear_usuario">

    <div class="p-3  border border-warning" style="margin-top: 100px; background-color: #00B9C9;">
        <div class="mb-5 mt-2  text-center">
            <h1 class="text-white">Registrarse</h1>
            <p class="text-white">Bienvenido al servicio de administrador de productos Delimar</p>
        </div>
        <div class="form-group">
            <label class="text-white">Nombre completo:</label>
            <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Pedro Ramirez" required>
        </div>
        <div class="form-group">
            <label class="text-white">usuario:</label>
            <input type="text" class="form-control" name="user" id="user" placeholder="Nombre de usuario" required>
        </div>
        <div class="form-group">
            <label class="text-white">Correo electrónico:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="delimar@gmail.sv" required>

        </div>
        <div class="form-group">
            <label class="text-white">Contraseña:</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button class="btn btn-sm btn-light " type="submit" style="background-color: #F7BD3B;">Iniciar
            sesión</button>

    </div>
</form>