<header>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/imagenes/delimar.png" class="logo-brand" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" id="inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lista_producto" id="catalogo">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="info">Nosotros</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<form class="form-signin  mt-5 mb-3" method="POST" action="">
  <div class="p-3  border border-warning" style="margin-top: 50px; background-color: #00B9C9;">
    <div class="mb-5 mt-2  text-center">
      <h1 class="text-white">Inicia Sesion </h1>
      <p class="text-white">Bienvenido Delimar Premium</p>
    </div>

    <div class="form-group">
      <label class="text-white">Correo electrónico:</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="delimar@gmail.sv" required>

    </div>
    <div class="form-group">
      <label class="text-white">Contraseña:</label>
      <input type="password" name="password" id="password" class="form-control">
    </div>
    <div class="form-group form-check">
      <a href="/reestablecer_contrasena" style="color: #F7BD3B;">¿Has olvidado tu contraseña?</a>
    </div>
    <button class="btn btn-sm btn-light " type="submit" style="background-color: #F7BD3B;">Iniciar
      sesión</button>

  </div>

</form>
