<header>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/imagenes/delimar.png" class="logo-brand" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" id="inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lista_producto" id="catalogo">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="info">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="contacto">Contactanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/iniciar_sesion" id="inicio">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cerrar_sesion" id="inicio">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="">
  <section id="hero">
    <div class="container">
      <div class="content-center topmargin-lg">
        <h1>Bienvenidos</h1>
        <p>El referente en venta de productos de mar de la mas alta calidad, esperando siempre superar las expectativas
          de nuestros clientes.</p>
        <a href="#" class="btn btn-light topmargin-sm">Explorar <ion-icon name="play-circle-outline"></ion-icon></a>
      </div>
  </section>

  <div>
    <h2 style="background-color: #F7BD3B; width: auto;" class="container">Trabajamos para traerte productos de la
      <b>mejor calidad</b></h2>
    <p class="content-center">Contamos con una variedda de productos de la mas alta calidad, para que puedas deleitar en
      familia o con amigos.</p>
  </div>

  <h2 style="background-color: #F7BD3B; width: auto;" class="container">Productos Nacionales</h2>


  <div class="container">
    <div style="width: 50%; height: 50%;">
      <div class="catalogo-container ">
        <div class="catalogo-details">
        </div>
        <img src="../imagenes/Almeja2.jpg" class="img-fluid" alt="catalogo">
      </div>
    </div>

    <section id="nosotros" class="bg-light-grey">
      <div id="container">
        <div class="p-2 mb-1">
          <h2>Disfruta con nuestras <b>Recetas</b></h2>
          <p>unos ricos platillos que puedes hacer en casa y deleitar.</p>
        </div>

        <div class="row">
          <div class="col-md-4">

            <img src="../imagenes/portada1.jpg" class="img-fluid" alt="member 1" style="width: 300px; height: 250px;">

          </div>
          <div class="col-md-4">
            <img src="../imagenes/portada3.jpg" class="img-fluid" alt="member 1" style="width: 300px; height: 250px;">
          </div>
          <div class="col-md-4">
            <img src="../imagenes/Salmon.jpg" class="img-fluid" alt="member 1" style="width: 300px; height: 250px;">
          </div>
        </div>
      </div>
    </section>
  </div>
  <section id="pricing">
    <div>
      <h2 style="background-color: #F7BD3B; width: auto;" class="container">Aprovecha con nuestras
        super <b>OFERTAS</b></h2>

      <div id="container">
        <div>
          <p class="content-center"> No te quedes con las ganas ve nuestras ofertas y compra.</p>
        </div>

        <div class="columns d-inline-flex">
          <div class=" col-md-6 bg-light-grey m-1 p-0">
            <div class="pricing-container mt-0">
              <h4 style="background-color: #F7BD3B" class="p-2">Camarones</h4>
              <div class="plans">
                <h2>$14.9 <span>la libra</span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-6 bg-light-grey m-1 p-0">
            <div class="pricing-container mt-0">
              <h4 style="background-color: #F7BD3B" class="p-2 m-0">Camarones</h4>
              <div class="plans">
                <h2>$14.9 <span>la libra</span></h2>
              </div>
            </div>
          </div>

        </div>
      </div>
  </section>