<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @media screen and (max-width: 720px) {
            body {
                width: 100% !important;
                max-width: 720px !important;
                background-color: #eee;
            }
        }
    </style>
    <title>Reestablece tu contraseña de Delimar</title>
</head>
<body style="background-color: #00B9C9; text-align: center;">
   <div style="margin: 2rem; padding: 4rem; background-color: white; -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);">
    <h2>Reestablece tu contraseña</h2>
    <p>¡Hola {{fullname}}! Has solicitado reestablecer tu contraseña, haz clic en el botón inferior para reestablecer tu contraseña.</p>
    <p style="margin-bottom: 1rem;">Este enlace es temporal por seguridad, así que si se vence, vuelve a solicitarlo.</p>

    <a href="{{resetUrl}}" style="background-color: #F7BD3B; text-decoration: none; color: white; padding: 1rem; margin: 6rem;">Reestablece tu contraseña</a>
    <p>Si no puedes acceder al enlace, copiar el siguiente enlace una pestaña del navegador: {{resetUrl}}</p>
    <p>Si no solicitaste reestablecer tu contraseña, puedes ignorar este correo.</p>
   </div>
</body>
</html>